{% extends "base.html" %}

{% block title %}
    Substrate Editor - sculpt.io
{% endblock %}

{% block icon_bar %}
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
{% endblock icon_bar %}

{% block nav_links %}
<li><a href="/settings/">Settings</a></li>
<li><a href="/test">Editor</a></li>
<li><a href="/logout/">Logout</a></li>
{% endblock nav_links %}

{% block body %}
<div class="text-center">
  <h1 style="font-size:30px;">{{project_name}}</h1>
</div>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <div class="text-center" style="font-size:30px;">Collaborators</div>
      <ul class="list-group col-md-10">
	{{contributors | safe}}
      </ul>
      <ul class="list-group col-md-2">
	{{status | safe}}
      </ul>
    </div>
    <div class="col-md-6">
      <div class="sandbox">
      </div>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">Save</button><br>
      {{last_saved}}<br>
      {{test}}
    </div>
     
  </div>
</div>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/three.js"></script>
<script src="/static/js/Constants.js"></script>
<script src="/static/js/OrbitControls.js"></script>
<script src="/static/js/Util.js"></script>
<script src="/static/js/Tool.js"></script>
<script src="/static/js/World.js"></script>
<script src="/static/js/Sandbox.js"></script>
<script src="/static/js/base.js"></script>
{% endblock %}
