{% extends "base.html" %}

{% block icon_bar %}
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
{% endblock icon_bar %}

{% block nav_links %}
<li><a href="/create/">Create</a></li>
<li><a href="/settings/">Settings</a></li>
<li><a href="/logout/">Logout</a></li>
{% endblock nav_links %}

{% block body %}
<div class="page-header">
  <h1>Your search: {{query}}</h1><br>
  <h1>Results</h1>
  <ul class="list-group">
    {{results | safe}}
  </ul>
</div>
{% endblock body %} 
