{% extends "base.html" %}

{% block icon_bar %}
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
{% endblock icon_bar %}


{% block nav_links %}
<li><a href="/create/">Create</a></li>
<li><a href="/settings/">Settings</a></li>
<li><a href="/logout/">Logout</a></li>
{% endblock nav_links %}

{% block body %}
<div class="panel panel-default" id="change-password-panel">
  <div class="panel-body">
    <div id="change-status">
    </div>
    <form id="change-password" action="/ajaxchangepassword/" method="post">
      <div class="form-group">
	<label for="change-old-password">Old Password</label>
	<input type="password" class="form-control" id="change-old-password" name="oldPassword" placeholder="Old Password" required>
      </div>
      <div class="form-group">
	<label for="change-new-password">New Password</label>
	<input type="password" class="form-control" id="change-new-password" name="newPassword" placeholder="New Password" required>
      </div>
      <div class="form-group" id="change-confirm-password-group">
	<label for="change-new-confirm-password">Confirm Password</label>
	<input type="password" class="form-control" id="change-new-confirm-password" name="confirmNewPassword" placeholder="New Password" required>
        <span id="confirm-password-icon" class="glyphicon form-control-feedback hidden"></span>
      </div>
      <button id="change-button" type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<script src="/static/js/custom-settings.js"></script>
{% endblock body %}
