{% extends "base.html" %}

{% block custom_css %}
<link href="/static/css/login-style.css" rel="stylesheet"> {% endblock custom_css %}

{% block title %} Log In - sculpt.io {% endblock title %}

{% block icon_bar %}
<span class="icon-bar"></span>
<span class="icon-bar"></span> {% endblock icon_bar %}

{% block nav_links %}
<li><a href="/login/">Log In</a></li>
<li><a href="/signup/">Sign Up</a></li>
{% endblock nav_links %}

{% block body %}
<div class="container" id="login-cont">
  <div class="row" id="login-row">
    <div class="col-md-8 col-md-offset-2" id="login-col">
      <div id="registerStatus">

      </div>
      <form id="registerForm" action="/ajaxsignup/" method="post">
        <div class="form-group">
          <label for="registerUsername">Username</label>
	  <input type="text" class="form-control" id="registerUsername" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="registerPassword">Password</label>
	  <input type="password" class="form-control" id="registerPassword" name="password" placeholder="Password" required>
        </div>
        <div class="form-group" id="confirmPasswordGroup">
          <!-- <span><input type="password" class="form-control" id="registerConfirmPassword" name="confirmPassword" placeholder="Enter password again" required><span id="confirmPasswordIcon"></span></span> -->
          <label for="registerConfirmPassword">Confirm Password</label>
	  <input type="password" class="form-control" id="registerConfirmPassword" name="confirmPassword" placeholder="Enter password again" required>
          <span id="confirmPasswordIcon" class="glyphicon form-control-feedback hidden"></span>
        </div>
        <button id="registerFormButton" type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="/static/js/custom-signup.js"></script>
{% endblock body %}
