html, body {
    height: 100%;
    background: #FFF6DB;
}

footer {
    min-height: 50px;
    background: #37718E;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #AEF3E7;
}

.navbar {
    background: #37718E;
    border: 0;
    border-radius: 0;
    color: #AEF3E7;
}

.navbar-default {
    color: #AEF3E7;
}

.navbar-brand {
    color: #AEF3E7;
}

.panel {
    background: inherit;
}

.border-container {
    background: #8EE3EF;
    padding: 0;
}

#main-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#navbar-container {
    padding: 0;
    color: #AEF3E7;
}

#change-password-panel {
    border: 0;
}

.sandbox {
}

.renderer {
    position: absolute;
}

.toolbox {
    position: absolute;
}

.tool-row {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.tool-deselected {
    background-color: #CCCCCC;
}

.tool-deselected:hover {
    background-color: #DDDDDD;
}

.tool-selected {
    background-color: #EFEFEF;
    border: 2px solid black;
}

.tool-icon {
    margin: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.tool-slider {
    width: 75px;
    padding: 10px;
    background: transparent;
}

.tool-radius {
    width: 40px;
    padding: 10px;
}

input[type=range].tool-slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 6.8px 0;
}
input[type=range].tool-slider:focus {
    outline: none;
}
input[type=range].tool-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    background: #717171;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range].tool-slider::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 1px solid #000000;
    height: 22px;
    width: 7px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range].tool-slider:focus::-webkit-slider-runnable-track {
    background: #717171;
}
input[type=range].tool-slider::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    background: #717171;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range].tool-slider::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 1px solid #000000;
    height: 22px;
    width: 7px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range].tool-slider::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].tool-slider::-ms-fill-lower {
    background: #717171;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
}
input[type=range].tool-slider::-ms-fill-upper {
    background: #717171;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
}
input[type=range].tool-slider::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 1px solid #000000;
    height: 22px;
    width: 7px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}
input[type=range].tool-slider:focus::-ms-fill-lower {
    background: #717171;
}
input[type=range].tool-slider:focus::-ms-fill-upper {
    background: #717171;
}
