<html>
    <head>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>

        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                </div>
                <div class="navbar" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- main body -->
        {% block body %}
        {% endblock %}
        
        <footer class="container-fluid text-center">
        </footer>
        
    </body>
</html>
