{% extends "base.html" %}

{% block title %}
    Substrate Editor - sculpt.io
{% endblock %}

{% block icon_bar %}
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
{% endblock icon_bar %}

{% block nav_links %}
<li><a href="/profile/">Profile</a></li>
<li><a href="/test">Editor</a></li>
<li><a href="/logout/">Logout</a></li>
{% endblock nav_links %}

{% block body %}
    <div id="container">
    </div>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/three.js"></script>
    <script src="/static/js/Constants.js"></script>
    <script src="/static/js/Sandbox.js"></script>
    <script src="/static/js/Drawing.js"></script>
    <script src="/static/js/Input.js"></script>
    <script src="/static/js/Viewport.js"></script>
    <script src="/static/js/base.js"></script>
{% endblock %}
