{% extends "base.html" %}

{% block title %}
    Substrate Editor
{% endblock %}

{% block body %}
    <div id="container">
    </div>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/three.js"></script>
    <script src="/static/js/Constants.js"></script>
    <script src="/static/js/Sandbox.js"></script>
    <script src="/static/js/Drawing.js"></script>
    <script src="/static/js/Input.js"></script>
    <script src="/static/js/Viewport.js"></script>
    <script src="/static/js/base.js"></script>
{% endblock %}
