{% extends "base.html" %}

{% block icon_bar %}
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
{% endblock icon_bar %}

{% block nav_links %}
<li><a href="/settings/">Settings</a></li>
<li><a href="/test">Editor</a></li>
<li><a href="/logout/">Logout</a></li>
{% endblock nav_links %}

{% block body %}
<div class="page-header">
  <h1>Owned Projects</h1>
  <ul class="list-group">
    {{owned_projects | safe}}
  </ul>
</div>
<div class="page-header">
  <h1>Projects Contributed To</h1>
  <ul class="list-group">
    {{permitted_projects | safe}}
  </ul>
</div>
{% endblock body %} 
